*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.order{
    border: 0px;
    margin: 20px 40px;
}
.order thead tr{
    background-color: #CCC;
}
.order td{
    padding: 5px 10px;
}
.order input{
    padding: 5px;
    border-radius: 3px;
}
.order input[type="submit"]{
    border: 1px solid green;
    background-color: lightgreen;
    border-radius: 5px;
}